.post {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
  box-shadow: 0 .5rem .5rem rgb(227, 227, 227);
  border-radius: .25rem;
  width: 90%;
  transition: box-shadow linear .10s;
}

.post:hover {
  box-shadow: 0 .7rem .5rem rgb(223, 223, 223);
}


.post-title {
  margin-top: 1rem
}

.votes {
  position: relative;
  left: 2rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.up-votes:hover {
  color:  green
}

.down-votes:hover {
  color: red;
}

.post-content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  min-height: 6rem;
  width: 90%;
  margin: 0 auto;
}

.post-content h2 {
  text-align: left;
}

.border-line {
  border-top: 1px black solid;
  width: 100%;

}

.post-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
}

.author {
  text-align: left;
  width: 15rem;
  order: 1
}

.time-ago {
  text-align: center;
  order: 2;
  margin-right: 10rem;
}

.comment-icon-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  order: 3
}

.comment-icon-section span {
  margin-right: 0.4rem;
  color: black;
}

.message-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .votes {
      display: none;
  }
  .post-information {
      display: none;
  }
  .border-line {
      display: none
  }
}

@media only screen and (max-width: 480px) {
  .votes {
    display: none;
  }
  .post {
    flex-direction: column;
    margin-top: 35%;
    padding: 0;
  }
  .post-block {
    height: 300px;
    width: 320px;
    margin: 20% 0% 0% 0%;
    padding: 0% 4% 6% 4%;
  }
   
  .post-top h1 {
    font-size: 5vw;
  }
  
  .post-top p {
    font-size: 2.5vw;
  }
  
  .post-subreddit {
     font-size: 2.5vw;
  }
}
