.subreddits-container, .mobile-subreddits-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .5rem .5rem rgb(227, 227, 227);
  flex-grow: .3;
  flex-shrink: 0;
  border-radius: .25rem;
  min-width: 338.961px;;
  position: relative;
}

.subreddits-section h2, .mobile-subreddits-section h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subreddits-section, .mobile-subreddits-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 350px) {
  .subreddits-container {
      display: none;
  }

  .mobile-subreddits-container {
      display: block;
      position: absolute;
      left: -350px;
  }
}

@media only screen and (min-width: 922px) {
  .subreddits-container {
      display: none;
      height: 1800px;
  }

  .mobile-subreddits-container {
      display: none;
      position: relative;
      left: -350px
  }
}

@media only screen and (min-width: 1100px) {
  .subreddits-container {
      display: block;
      position: relative;
      left: 0;
      transition: 0s;
  }

  .mobile-subreddits-container {
      display: none;
      position: absolute;
      left: -350px;
  }
}